node_red/flows_beaglebone.json
[{"id":"cde2bb9.452c148","type":"tab","label":"Recoater_Vibration_Flow","disabled":false,"info":""},{"id":"c39d20e9.1876","type":"tab","label":"Old stuff","disabled":false,"info":""},{"id":"436cd95.0e1bc28","type":"subflow","name":"proxy_trigger","info":"","category":"","in":[],"out":[{"x":1160,"y":100,"wires":[{"id":"4309fcba.c17894","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ed06d332.3a55d","type":"subflow","name":"python_trigger","info":"","category":"","in":[{"x":220,"y":80,"wires":[{"id":"6e9c2909.b9aee8"},{"id":"1cc7f29a.790dbd"}]}],"out":[{"x":1360,"y":80,"wires":[{"id":"693124f7.237afc","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"c1b7246e.9ca618","type":"group","z":"cde2bb9.452c148","name":"","style":{"label":true},"nodes":["4e52dbda.5bff44","b0763997.19e3b8","f0059a79.2a8ac8","dc428aab.e017b8","13429892.bfb797","55e9d936.7d6f38","d30bf5e.2ddd008","51442457.1dc9dc","63f25449.cce3bc","7897f43c.ec581c","37806ba.18fc194","764e7f36.2f334","d141e741.8d1388","b7d5e26a.826f9","1668c43c.753d8c"],"x":44,"y":919,"w":1482,"h":242},{"id":"fc817e0a.506ff","type":"group","z":"cde2bb9.452c148","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["35c8ad5f.ad9872","fbf05629.3c6438","cc0573a0.e9284","5f3a4553.38e3ac","3c68e683.8ea9da","49c8caf4.3fe5a4","14412809.c10bf8"],"x":74,"y":379,"w":652,"h":162},{"id":"ad957524.0bfbb8","type":"group","z":"cde2bb9.452c148","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["57aadba9.7119f4","ebb866a1.cd5f78","131357aa.a0fc68","f85465a8.d9a898","c2a12076.0887c","adfa304.e2cbed","7cbdef85.649d6","47e86f7f.f238a","c4a66de4.8ff5f"],"x":74,"y":39,"w":452,"h":242},{"id":"35430469.7155cc","type":"group","z":"cde2bb9.452c148","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d43b2bac.7a04c8","f6d7d7a1.7676c8","7169fea7.98bdc"],"x":794,"y":59,"w":572,"h":129.5},{"id":"70a5222c.77e52c","type":"group","z":"cde2bb9.452c148","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["942c13f0.b367b","7d6f8f6e.34b6f","4bbe6063.41745","507ca113.a558c","1d330a0e.c65a06","de302f27.2115","d164c224.fda8b","f0dfb1ff.25d71","5e70649.b2e3d9c","5a38195e.a770c8","1d3c46f.74f68b9","dd6fa931.cd4c88","1ddb9654.8cc42a","be5828c3.cc4ca8"],"x":54,"y":1199,"w":1202,"h":202},{"id":"14c4d593.ab9d4a","type":"group","z":"cde2bb9.452c148","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["660529af.fc6e88","46dc8b5f.9ed7c4","6afaac5.9d9d854","8db4156c.fd0ae8","1b34a93a.be5fe7","245512be.79a2be","3e5c7fa0.7e6cd","a3d1a613.27d198","57b2c6df.8815b8","809d6a93.afff68","d3480045.48787","17a6e6cf.9d0eb9","a46bf88.2250b08","d0875865.00f6b8","cd72123d.1adc1","51b67f0b.84a93","59586c0f.9eea74","b9dbf307.b7cd9","49a5c497.85863c","cfbb627f.e0c78","fae3efcb.3b3f9","d0aec8b5.feef68"],"x":54,"y":599,"w":1522,"h":282},{"id":"81a9477.68d37b8","type":"group","z":"cde2bb9.452c148","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8dcdbc94.c1768","59b82ec6.5e81a","2c36def8.154212","faa3ace4.61802","8cee96f3.c55988","b9fe6771.ef49a8","ac74230a.ff881","732b086d.315eb8","d75036a.2502dc8"],"x":74,"y":1419,"w":1232,"h":169.5},{"id":"2fe58db4.78a202","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd0de14e.e3489","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ff9d141.28643","type":"ui_group","name":"Measure Acceleration X & Y","tab":"2fe58db4.78a202","order":2,"disp":true,"width":30,"collapse":false},{"id":"75258512.d635ec","type":"ui_group","name":"Configure","tab":"2fe58db4.78a202","order":1,"disp":true,"width":8,"collapse":false},{"id":"57f5b72.b9b4a48","type":"ui_group","name":"Sensor Data","tab":"","order":2,"disp":true,"width":21,"collapse":false},{"id":"b20f1e6a.37d64","type":"ui_group","name":"Sensor Data","tab":"8152b9b5.8b21c8","order":2,"disp":true,"width":21,"collapse":false},{"id":"8152b9b5.8b21c8","type":"ui_tab","name":"Sensor Data","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4e52dbda.5bff44","type":"inject","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1040,"wires":[["b0763997.19e3b8"]]},{"id":"b0763997.19e3b8","type":"exec","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","command":"python3 /home/debian/recoater_vibration/signal_analysis.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Python Script","x":370,"y":1060,"wires":[["f0059a79.2a8ac8","13429892.bfb797","b7d5e26a.826f9"],[],[]]},{"id":"56853c5e.adb554","type":"ui_button","z":"cde2bb9.452c148","name":"","group":"4ff9d141.28643","order":1,"width":0,"height":0,"passthru":false,"label":"Clear Charts","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1610,"y":920,"wires":[["4a6032e8.15e6ec"]]},{"id":"35c8ad5f.ad9872","type":"ui_text_input","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"","label":"Set Frequency","tooltip":"in Hz","group":"75258512.d635ec","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":180,"y":460,"wires":[["fbf05629.3c6438"]]},{"id":"fbf05629.3c6438","type":"function","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"Set Frequency","func":"var frequency = msg.payload;\nsampleInterval = 1/frequency;\nglobal.set(\"sampleInterval\", sampleInterval); \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["cc0573a0.e9284"]]},{"id":"cc0573a0.e9284","type":"debug","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"test_input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":460,"wires":[]},{"id":"adcd794a.7c1fa8","type":"function","z":"c39d20e9.1876","name":"Set global variables","func":"\n// Configuration Variables for force and position\nglobal.set(\"sampleInterval\", 0.0001);    //How fast is the acceleration data sampled (seconds)\nglobal.set(\"sampleSize\", 1000);           //How many acceleration samples are taken each interval. See: https://arch.fis.gatech.edu/message-current/\n\n// Force calibration values\n//global.set(\"forceCoef0\", -11491 );\n//global.set(\"forceCoef1\", 5.2552);\n\n\n\nstatusText = \"Variables Set\"\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[["7c964d3.a1874b4"]]},{"id":"c35082ba.e589e","type":"inject","z":"c39d20e9.1876","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["adcd794a.7c1fa8"]]},{"id":"7c964d3.a1874b4","type":"debug","z":"c39d20e9.1876","name":"global","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"8a50249e.08f148","type":"comment","z":"c39d20e9.1876","name":"used to set variables via backdoor","info":"","x":270,"y":100,"wires":[]},{"id":"5f3a4553.38e3ac","type":"function","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"Set No. of Samples","func":"var sampleSize = msg.payload;\nglobal.set(\"sampleSize\", sampleSize); \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":500,"wires":[["3c68e683.8ea9da"]]},{"id":"3c68e683.8ea9da","type":"debug","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"test_input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"49c8caf4.3fe5a4","type":"ui_text_input","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"","label":"Set No. of Samples","tooltip":"","group":"75258512.d635ec","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":190,"y":500,"wires":[["5f3a4553.38e3ac"]]},{"id":"14412809.c10bf8","type":"comment","z":"cde2bb9.452c148","g":"fc817e0a.506ff","name":"Allow user to select sample frequency and size","info":"","x":280,"y":420,"wires":[]},{"id":"f0059a79.2a8ac8","type":"debug","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"py debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1080,"wires":[]},{"id":"dc428aab.e017b8","type":"change","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1040,"wires":[["55e9d936.7d6f38"]]},{"id":"13429892.bfb797","type":"file in","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"Read FFT Data","filename":"/home/debian/recoater_vibration/data/testing_code/processed_accel.txt","format":"utf8","chunk":false,"sendError":false,"x":560,"y":1040,"wires":[["dc428aab.e017b8"]]},{"id":"55e9d936.7d6f38","type":"json","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"","property":"payload","action":"","pretty":false,"x":960,"y":1040,"wires":[["d30bf5e.2ddd008","37806ba.18fc194"]]},{"id":"d30bf5e.2ddd008","type":"function","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.frequency_FFT;\nlet mag = msg.payload.x_axis_magnitude;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\n//for (let i = 0; i < freq.length; i++) {\n//   diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n//}\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1020,"wires":[["51442457.1dc9dc"]]},{"id":"cdd0106d.7af7c","type":"function","z":"cde2bb9.452c148","d":true,"name":"Reshaping Data for Diagram","func":"let freq = msg.payload.frequency;\nlet ang = msg.payload.angle;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": ang[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1780,"wires":[["c9852af9.624ea8"]]},{"id":"9e27238a.7aaed","type":"function","z":"cde2bb9.452c148","d":true,"name":"FRF Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleFreq = Math.round(1/global.get(\"sampleInterval\"));\nvar segmentWidth = global.get(\"segmentWidth\");\nvar plotFreq = global.get(\"plotFreq\");\n\n//for v1 python script\nmsg.payload = ' ' + sampleFreq.toString() + ' ' + segmentWidth.toString();\n//for v2 python script\n//msg.payload = ' ' + sampleFreq.toString() + ' ' + segmentWidth.toString() + ' ' + plotFreq.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1830,"wires":[[]]},{"id":"51442457.1dc9dc","type":"ui_chart","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"FFT X-Axis","group":"4ff9d141.28643","order":6,"width":0,"height":0,"label":"Magnitude vs Frequency (Hz) X-Axis","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1430,"y":1000,"wires":[[]]},{"id":"c9852af9.624ea8","type":"ui_chart","z":"cde2bb9.452c148","d":true,"name":"Angle","group":"57f5b72.b9b4a48","order":10,"width":0,"height":0,"label":"Angle (°) vs Frequency (Hz)","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":1830,"wires":[[]]},{"id":"63f25449.cce3bc","type":"complete","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"","scope":["d0aec8b5.feef68"],"uncaught":false,"x":150,"y":1120,"wires":[["b0763997.19e3b8"]]},{"id":"7897f43c.ec581c","type":"comment","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"Compute FFT","info":"","x":150,"y":960,"wires":[]},{"id":"57aadba9.7119f4","type":"inject","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":120,"wires":[["131357aa.a0fc68"]]},{"id":"ebb866a1.cd5f78","type":"comment","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"Setting Coefficients for Accelerometer","info":"","x":250,"y":80,"wires":[]},{"id":"131357aa.a0fc68","type":"function","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"Bit to g","func":"global.set(\"accelerationCoef0_x\", -11.158);\nglobal.set(\"accelerationCoef1_x\", 0.0054);\nglobal.set(\"accelerationCoef0_y\", -11.179);\nglobal.set(\"accelerationCoef1_y\", 0.0054);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[[]]},{"id":"f85465a8.d9a898","type":"inject","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["c2a12076.0887c"]]},{"id":"c2a12076.0887c","type":"function","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"Bit to m/s^2 (+/-10g)","func":"global.set(\"accelerationCoef0_x\", -109.46);\nglobal.set(\"accelerationCoef1_x\", 0.0525);\nglobal.set(\"accelerationCoef0_y\", -109.67);\nglobal.set(\"accelerationCoef1_y\", 0.0525);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":160,"wires":[[]]},{"id":"adfa304.e2cbed","type":"function","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"Bit","func":"global.set(\"accelerationCoef0_x\", 0);\nglobal.set(\"accelerationCoef1_x\", 1);\nglobal.set(\"accelerationCoef0_y\", 0);\nglobal.set(\"accelerationCoef1_y\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[[]]},{"id":"7cbdef85.649d6","type":"inject","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["adfa304.e2cbed"]]},{"id":"8bd06558.00ce68","type":"function","z":"cde2bb9.452c148","d":true,"name":"","func":"global.set(\"previous_state\", 0);\nglobal.set(\"current_state\", 0);\nvar current_state = msg.payload\n\n\nvar frequency = msg.payload;\nsampleInterval = 1/frequency;\nglobal.set(\"sampleInterval\", sampleInterval); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":515,"y":1850,"wires":[[]]},{"id":"37806ba.18fc194","type":"function","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"Reshaping Data for Diagram","func":"let freq = msg.payload.frequency_FFT;\nlet mag = msg.payload.y_axis_magnitude;\n\nlet diagramData = [{\n    \"series\": [\"magnitude\"],\n    \"data\": [[]],\n    \"labels\": [\"\"]\n}];\n\n//for (let i = 0; i < freq.length; i++) {\n//   diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n//}\n\nfor (let i = 0; i < (freq.length); i++) {\n    diagramData[0].data[0].push({\"x\": freq[i], \"y\": mag[i]})\n}\n\n//diagramData[0].labels.push(both[0])\n//diagramData[0].data.push(both[1])\n\n\nmsg.payload = diagramData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1060,"wires":[["764e7f36.2f334"]]},{"id":"764e7f36.2f334","type":"ui_chart","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"FFT Y-Axis","group":"4ff9d141.28643","order":7,"width":0,"height":0,"label":"Magnitude vs Frequency (Hz) Y-Axis","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1430,"y":1080,"wires":[[]]},{"id":"4a6032e8.15e6ec","type":"link out","z":"cde2bb9.452c148","name":"","links":["b9dbf307.b7cd9","d141e741.8d1388"],"x":1735,"y":920,"wires":[]},{"id":"d141e741.8d1388","type":"link in","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","name":"","links":["4a6032e8.15e6ec"],"x":1355,"y":1040,"wires":[["51442457.1dc9dc","764e7f36.2f334"]]},{"id":"d43b2bac.7a04c8","type":"inject","z":"cde2bb9.452c148","g":"35430469.7155cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":140,"wires":[["f6d7d7a1.7676c8"]]},{"id":"f6d7d7a1.7676c8","type":"exec","z":"cde2bb9.452c148","g":"35430469.7155cc","command":"echo 66 > /sys/class/gpio/export","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1210,"y":140,"wires":[[],[],[]]},{"id":"7169fea7.98bdc","type":"comment","z":"cde2bb9.452c148","g":"35430469.7155cc","name":"Enables P8.07","info":"","x":900,"y":100,"wires":[]},{"id":"991af7bc.10ca98","type":"inject","z":"436cd95.0e1bc28","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.001","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["d6ca82ce.5e5d3"]]},{"id":"d6ca82ce.5e5d3","type":"file in","z":"436cd95.0e1bc28","name":"","filename":"/sys/class/gpio/gpio66/value","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":120,"wires":[["bd1549e5.cd2148"]]},{"id":"bd1549e5.cd2148","type":"rbe","z":"436cd95.0e1bc28","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","septopics":false,"property":"payload","x":620,"y":120,"wires":[["ea158ff8.683bc"]]},{"id":"ab29e582.410ce8","type":"comment","z":"436cd95.0e1bc28","name":"Polls the value of P8.07","info":"","x":160,"y":60,"wires":[]},{"id":"ea158ff8.683bc","type":"switch","z":"436cd95.0e1bc28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":120,"wires":[["4309fcba.c17894"],[]]},{"id":"4309fcba.c17894","type":"debounce","z":"436cd95.0e1bc28","time":"400","name":"","x":960,"y":100,"wires":[["55e5397e.b70758"]]},{"id":"55e5397e.b70758","type":"debug","z":"436cd95.0e1bc28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"Reading","statusType":"msg","x":1150,"y":160,"wires":[]},{"id":"942c13f0.b367b","type":"file","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1130,"y":1300,"wires":[["1ddb9654.8cc42a"]]},{"id":"7d6f8f6e.34b6f","type":"ui_button","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"Save and exit","group":"4ff9d141.28643","order":3,"width":0,"height":0,"passthru":false,"label":"Save and exit","tooltip":"","color":"","bgcolor":"GREEN","icon":"","payload":"form","payloadType":"str","topic":"","topicType":"str","x":160,"y":1280,"wires":[["4bbe6063.41745","507ca113.a558c"]]},{"id":"4bbe6063.41745","type":"file in","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"X-Axis","filename":"/home/debian/recoater_vibration/data/testing_code/x_axis.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":1280,"wires":[["1d330a0e.c65a06"]]},{"id":"507ca113.a558c","type":"file in","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"Y-Axis","filename":"/home/debian/recoater_vibration/data/testing_code/y_axis.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":1320,"wires":[["d164c224.fda8b"]]},{"id":"1d330a0e.c65a06","type":"change","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1280,"wires":[["de302f27.2115"]]},{"id":"de302f27.2115","type":"json","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","property":"payload","action":"","pretty":false,"x":730,"y":1280,"wires":[["5e70649.b2e3d9c"]]},{"id":"d164c224.fda8b","type":"change","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1320,"wires":[["f0dfb1ff.25d71"]]},{"id":"f0dfb1ff.25d71","type":"json","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","property":"payload","action":"","pretty":false,"x":730,"y":1320,"wires":[["5e70649.b2e3d9c"]]},{"id":"5e70649.b2e3d9c","type":"join","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":1300,"wires":[["5a38195e.a770c8"]]},{"id":"5a38195e.a770c8","type":"function","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","func":"//Format Payload\nvar payload = {};\nvar now = new Date();\npayload[\"timestamp\"]=now.toString();\n// payload[\"machine\"]=global.get(\"machine\");\n// payload[\"comments\"]=global.get(\"comments\");\npayload[\"sampleInterval\"]=global.get(\"sampleInterval\");\npayload[\"sampleSize\"]=global.get(\"sampleSize\");\npayload[\"evaluation\"]=global.get(\"evaluation\");\npayload[\"samplingInverval_x\"]=msg.payload[0].samplingInverval;\npayload[\"sampleSize_x\"]=msg.payload[0].sampleSize;\npayload[\"values_x\"]=msg.payload[0].values;\npayload[\"samplingInverval_y\"]=msg.payload[1].samplingInverval;\npayload[\"sampleSize_y\"]=msg.payload[1].sampleSize;\npayload[\"values_y\"]=msg.payload[1].values;\n\n\n//Format Filename\nyr = now.getFullYear();\nmo = String(now.getMonth()+1).padStart(2,'0');\nday = String(now.getDate()).padStart(2,'0');\nhr = String(now.getHours()).padStart(2,'0');\nmin = String(now.getMinutes()).padStart(2,'0');\nsec = String(now.getSeconds()).padStart(2,'0');\ntimestampStr = [yr,mo,day].join('');\ntimestampStr = [timestampStr,'_',hr,min,sec].join('');\nmsg.filename = \"/home/debian/recoater_vibration/data/testing_code/data_\" + timestampStr + \".json\";\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1300,"wires":[["942c13f0.b367b"]]},{"id":"1d3c46f.74f68b9","type":"inject","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1320,"wires":[["4bbe6063.41745","507ca113.a558c"]]},{"id":"dd6fa931.cd4c88","type":"comment","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"Save X and Y axis data into a json","info":"","x":220,"y":1240,"wires":[]},{"id":"b7d5e26a.826f9","type":"ui_text","z":"cde2bb9.452c148","g":"c1b7246e.9ca618","group":"75258512.d635ec","order":3,"width":"6","height":"10","name":"","label":"Python Output","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":1000,"wires":[]},{"id":"8dcdbc94.c1768","type":"exec","z":"cde2bb9.452c148","g":"81a9477.68d37b8","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":1540,"wires":[["b9fe6771.ef49a8"],[],[]]},{"id":"59b82ec6.5e81a","type":"inject","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1500,"wires":[["faa3ace4.61802"]]},{"id":"1ddb9654.8cc42a","type":"link out","z":"cde2bb9.452c148","g":"70a5222c.77e52c","name":"","links":["2c36def8.154212"],"x":1215,"y":1300,"wires":[]},{"id":"2c36def8.154212","type":"link in","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"","links":["1ddb9654.8cc42a"],"x":195,"y":1540,"wires":[["faa3ace4.61802"]]},{"id":"d6eee821.ed0588","type":"function","z":"cde2bb9.452c148","d":true,"name":"","func":"var counter = msg.count;\nmsg.payload = \"mkdir /home/debian/recoater_vibration/data/cube/trial_1/\" + counter;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1980,"wires":[[]]},{"id":"faa3ace4.61802","type":"template","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"mkdir","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"mkdir /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}","output":"str","x":350,"y":1540,"wires":[["8dcdbc94.c1768"]]},{"id":"8cee96f3.c55988","type":"exec","z":"cde2bb9.452c148","g":"81a9477.68d37b8","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":830,"y":1540,"wires":[["732b086d.315eb8"],[],[]]},{"id":"b9fe6771.ef49a8","type":"template","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"move files","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"mv /home/debian/recoater_vibration/data/testing_code/x_axis.txt /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}\nmv /home/debian/recoater_vibration/data/testing_code/x_axis_FFT.png /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}\nmv /home/debian/recoater_vibration/data/testing_code/y_axis.txt /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}\nmv /home/debian/recoater_vibration/data/testing_code/y_axis_FFT.png /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}\nmv /home/debian/recoater_vibration/data/testing_code/processed_accel.txt /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}\nmv /home/debian/recoater_vibration/data/testing_code/*data* /home/debian/recoater_vibration/data/cube/trial_2/{{global.count}}","output":"str","x":660,"y":1540,"wires":[["8cee96f3.c55988"]]},{"id":"de889112.395c","type":"inject","z":"cde2bb9.452c148","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":910,"y":260,"wires":[["b216c926.72fe48"]]},{"id":"6e9c2909.b9aee8","type":"counter","z":"ed06d332.3a55d","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":380,"y":80,"wires":[["62431e2e.93ea6"]]},{"id":"693124f7.237afc","type":"switch","z":"ed06d332.3a55d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":80,"wires":[[],["df164b9e.5c4a78"]]},{"id":"62431e2e.93ea6","type":"template","z":"ed06d332.3a55d","name":"","field":"count_ADC","fieldType":"global","format":"handlebars","syntax":"mustache","template":"{{count}}","output":"str","x":600,"y":80,"wires":[["83a6646e.912fe8"]]},{"id":"83a6646e.912fe8","type":"change","z":"ed06d332.3a55d","name":"","rules":[{"t":"set","p":"count_ADC","pt":"global","to":"$number(count)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":80,"wires":[["15825447.cfd6ec"]]},{"id":"15825447.cfd6ec","type":"function","z":"ed06d332.3a55d","name":"","func":"var count = global.get(\"count_ADC\");\nmodulo = count % 2;\nmsg.payload = modulo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":80,"wires":[["693124f7.237afc","323e8cdc.d3e234"]]},{"id":"1668c43c.753d8c","type":"subflow:ed06d332.3a55d","z":"cde2bb9.452c148","d":true,"g":"c1b7246e.9ca618","name":"","env":[],"x":150,"y":1080,"wires":[["b0763997.19e3b8"]]},{"id":"1cc7f29a.790dbd","type":"debug","z":"ed06d332.3a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":240,"wires":[]},{"id":"323e8cdc.d3e234","type":"debug","z":"ed06d332.3a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":380,"wires":[]},{"id":"df164b9e.5c4a78","type":"debug","z":"ed06d332.3a55d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":380,"wires":[]},{"id":"660529af.fc6e88","type":"function","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n\n\nsampleInterval = ~~(sampleInterval * 1e9 + 0.5);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["6afaac5.9d9d854"]]},{"id":"46dc8b5f.9ed7c4","type":"debug","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"ADC raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":680,"wires":[]},{"id":"6afaac5.9d9d854","type":"exec","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","command":"/home/debian/recoater_vibration/PRU_code/ADCwithTrigger","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run ADC","x":580,"y":720,"wires":[["46dc8b5f.9ed7c4","8db4156c.fd0ae8","3e5c7fa0.7e6cd"],[],[]]},{"id":"8db4156c.fd0ae8","type":"file in","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"none","x":790,"y":720,"wires":[["1b34a93a.be5fe7"]]},{"id":"1b34a93a.be5fe7","type":"function","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Parse Raw X","func":"\nvar vib = msg.payload\n\n//moment = context.global.moment;\nvar now = new Date();\n//var vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/x_axis\";\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\n//var previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = now.toString();\n//payload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"x_axis\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sampleSize\"] = global.get(\"sampleSize\");\n//payload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    payload[\"values\"][i] = ((global.get(\"accelerationCoef1_x\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"accelerationCoef0_x\"))).toFixed(5);\n    //payload[\"values\"][i] = binToV*(parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n    //payload[\"values\"][i] = (parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"force\",payload[\"values\"]);\n\n// Printout a status variable.\n//statusText = previous.toISOString();\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":720,"wires":[["a3d1a613.27d198","809d6a93.afff68","d0875865.00f6b8"]]},{"id":"245512be.79a2be","type":"function","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Parse Raw Y","func":"var vib = msg.payload\n\n//moment = context.global.moment;\nvar now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/y_axis\";\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\n//var previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\npayload[\"dateTime\"] = now.toString();\n//payload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"y_axis\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sampleSize\"] = global.get(\"sampleSize\");\n//payload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    payload[\"values\"][i] = ((global.get(\"accelerationCoef1_y\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"accelerationCoef0_y\"))).toFixed(5);\n    ///payload[\"values\"][i] = binToV*parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    //payload[\"values\"][i] = parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"position\",payload[\"values\"]);\n\n// Printout a status variable.\n//statusText = previous.toISOString();\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":760,"wires":[["57b2c6df.8815b8","17a6e6cf.9d0eb9","51b67f0b.84a93"]]},{"id":"3e5c7fa0.7e6cd","type":"file in","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"none","x":790,"y":760,"wires":[["245512be.79a2be"]]},{"id":"a3d1a613.27d198","type":"debug","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"AIN1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":640,"wires":[]},{"id":"57b2c6df.8815b8","type":"debug","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"AIN2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":840,"wires":[]},{"id":"809d6a93.afff68","type":"function","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Pre-Process Plot X","func":"\n//moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\n//var dataSeries1 = [];\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\n//var previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    //var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":680,"wires":[["d3480045.48787"]]},{"id":"d3480045.48787","type":"ui_chart","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","group":"4ff9d141.28643","order":4,"width":30,"height":8,"label":"X-Axis","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1470,"y":680,"wires":[[]]},{"id":"17a6e6cf.9d0eb9","type":"function","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Pre-Process Plot Y","func":"\n//moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\n//var dataSeries1 = [];\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\n//var previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    //var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":800,"wires":[["a46bf88.2250b08"]]},{"id":"a46bf88.2250b08","type":"ui_chart","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","group":"4ff9d141.28643","order":5,"width":30,"height":8,"label":"Y-Axis","chartType":"line","legend":"false","xformat":"s.SSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1470,"y":800,"wires":[[]]},{"id":"d0875865.00f6b8","type":"file","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Save X-axis","filename":"/home/debian/recoater_vibration/data/testing_code/x_axis.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1170,"y":720,"wires":[["fae3efcb.3b3f9"]]},{"id":"cd72123d.1adc1","type":"ui_button","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","group":"4ff9d141.28643","order":2,"width":0,"height":0,"passthru":false,"label":"Measure","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":720,"wires":[["660529af.fc6e88"]]},{"id":"51b67f0b.84a93","type":"file","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Save Y-axis","filename":"/home/debian/recoater_vibration/data/testing_code/y_axis.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1170,"y":760,"wires":[["fae3efcb.3b3f9"]]},{"id":"59586c0f.9eea74","type":"comment","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"Read and save acceleration data","info":"this runs the BBB ADC's and saves them as raw values (1's and 0's) then node-red reads them and converts them to asci and charts them. Node-red then also saves the processed data as text files for the python FFT algo to process them","x":230,"y":640,"wires":[]},{"id":"b9dbf307.b7cd9","type":"link in","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","links":["4a6032e8.15e6ec"],"x":1535,"y":740,"wires":[["d3480045.48787","a46bf88.2250b08"]]},{"id":"49a5c497.85863c","type":"subflow:436cd95.0e1bc28","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"proxy_trigger","env":[],"x":170,"y":760,"wires":[["660529af.fc6e88"]]},{"id":"cfbb627f.e0c78","type":"inject","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":680,"wires":[["660529af.fc6e88"]]},{"id":"fae3efcb.3b3f9","type":"join","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1310,"y":740,"wires":[["d0aec8b5.feef68"]]},{"id":"d0aec8b5.feef68","type":"debug","z":"cde2bb9.452c148","g":"14c4d593.ab9d4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":740,"wires":[]},{"id":"be5828c3.cc4ca8","type":"complete","z":"cde2bb9.452c148","d":true,"g":"70a5222c.77e52c","name":"","scope":["f0059a79.2a8ac8"],"uncaught":false,"x":170,"y":1360,"wires":[["4bbe6063.41745","507ca113.a558c"]]},{"id":"ac74230a.ff881","type":"debug","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1540,"wires":[]},{"id":"a6c8047e.123a68","type":"inject","z":"ed06d332.3a55d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":480,"wires":[["749d9a88.7b1cc4"]]},{"id":"749d9a88.7b1cc4","type":"template","z":"ed06d332.3a55d","name":"reset global.count ADC","field":"count_ADC","fieldType":"global","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":710,"y":480,"wires":[[]]},{"id":"6c67c266.9938ec","type":"function","z":"cde2bb9.452c148","name":"","func":"global.set(\"count\", 0);\nmsg.count = global.get(\"count\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1940,"wires":[[]]},{"id":"732b086d.315eb8","type":"function","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"","func":"var count = global.get(\"count\");\ncount = count + 1;\nglobal.set(\"count\", count);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1540,"wires":[["ac74230a.ff881"]]},{"id":"b216c926.72fe48","type":"change","z":"cde2bb9.452c148","name":"","rules":[{"t":"set","p":"count","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":260,"wires":[[]]},{"id":"d75036a.2502dc8","type":"comment","z":"cde2bb9.452c148","g":"81a9477.68d37b8","name":"Make dir and move files","info":"","x":220,"y":1460,"wires":[]},{"id":"47e86f7f.f238a","type":"inject","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":240,"wires":[["c4a66de4.8ff5f"]]},{"id":"c4a66de4.8ff5f","type":"function","z":"cde2bb9.452c148","g":"ad957524.0bfbb8","name":"Bit to m/s^2 (+/-4g)","func":"global.set(\"accelerationCoef0_x\", -44.571);\nglobal.set(\"accelerationCoef1_x\", 0.0217);\nglobal.set(\"accelerationCoef0_y\", -44.789);\nglobal.set(\"accelerationCoef1_y\", 0.0219);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":240,"wires":[[]]}]