node_red/flows_beaglebone.json
[{"id":"cde2bb9.452c148","type":"tab","label":"Recoater_Vibration_Flow","disabled":false,"info":""},{"id":"2fe58db4.78a202","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd0de14e.e3489","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4ff9d141.28643","type":"ui_group","name":"Default","tab":"2fe58db4.78a202","order":1,"disp":true,"width":30,"collapse":false},{"id":"660529af.fc6e88","type":"function","z":"cde2bb9.452c148","name":"Set Sampling Parameters","func":"var sampleSize = global.get(\"sampleSize\");\nvar sampleInterval = global.get(\"sampleInterval\");\n\n\n\nsampleInterval = ~~(sampleInterval * 1e9 + 0.5);\n\nmsg.payload = ' ' + sampleSize.toString() + ' ' + sampleInterval.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["6afaac5.9d9d854"]]},{"id":"8fab0c29.0b926","type":"inject","z":"cde2bb9.452c148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["660529af.fc6e88"]]},{"id":"46dc8b5f.9ed7c4","type":"debug","z":"cde2bb9.452c148","name":"ADC raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"f603857b.a33f78","type":"function","z":"cde2bb9.452c148","name":"Set global variables","func":"\n// Configuration Variables for force and position\nglobal.set(\"sampleInterval\", 0.0001);    //How fast is the acceleration data sampled (seconds)\nglobal.set(\"sampleSize\", 1000);           //How many acceleration samples are taken each interval. See: https://arch.fis.gatech.edu/message-current/\n\n// Force calibration values\n//global.set(\"forceCoef0\", -11491 );\n//global.set(\"forceCoef1\", 5.2552);\n\n\n\nstatusText = \"Variables Set\"\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["4b7d3899.84cd88"]]},{"id":"8eed84a3.544998","type":"inject","z":"cde2bb9.452c148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["f603857b.a33f78"]]},{"id":"4b7d3899.84cd88","type":"debug","z":"cde2bb9.452c148","name":"global","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"6afaac5.9d9d854","type":"exec","z":"cde2bb9.452c148","command":"/home/debian/master/ADCsTimed","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":380,"wires":[["46dc8b5f.9ed7c4","8db4156c.fd0ae8","3e5c7fa0.7e6cd"],[],[]]},{"id":"8db4156c.fd0ae8","type":"file in","z":"cde2bb9.452c148","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"none","x":470,"y":360,"wires":[["1b34a93a.be5fe7"]]},{"id":"1b34a93a.be5fe7","type":"function","z":"cde2bb9.452c148","name":"","func":"var vib = msg.payload\n\n//moment = context.global.moment;\n//var now = new Date();\n//var vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Force\";\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\n//var previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\n//payload[\"dateTime\"] = now.toString();\n//payload[\"assetId\"] = global.get(\"assetId\");\npayload[\"dataItemId\"] = \"Force\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sampleSize\"] = global.get(\"sampleSize\");\n//payload[\"sensorId\"] = \"PCB 208C04\";\npayload[\"values\"] = [];\n\n// Calibrate the values with 12 bit resolution\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"forceCoef1\") * parseFloat((vib[4 * i+1] << 8) + vib[4 * i]) + global.get(\"forceCoef0\"))).toFixed(5);\n    //payload[\"values\"][i] = binToV*(parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n    payload[\"values\"][i] = (parseFloat((vib[4 * i+1] << 8) + vib[4 * i]));\n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"force\",payload[\"values\"]);\n\n// Printout a status variable.\n//statusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":360,"wires":[["a3d1a613.27d198","809d6a93.afff68","d0875865.00f6b8"]]},{"id":"245512be.79a2be","type":"function","z":"cde2bb9.452c148","name":"","func":"var vib = msg.payload\n\n//moment = context.global.moment;\n//var now = new Date();\nvar vibration = msg.payload.Vibration;\nvar payload = {};\nvar statusText = \"\";\nvar topic = \"Asset/\" + global.get(\"assetId\") + \"/Position\";\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000;\n//var previous = moment(now.valueOf() - diff);\nvar binToV = 1.8/4096; // coeff to go from 12-bit binary to voltage\n\n// Build payload\n//payload[\"dateTime\"] = now.toString();\n//payload[\"assetId\"] = global.get(\"assetId\");\n//payload[\"dataItemId\"] = \"Position\";\npayload[\"samplingInterval\"] = global.get(\"sampleInterval\");\npayload[\"sampleSize\"] = global.get(\"sampleSize\");\n//payload[\"sensorId\"] = \"Keyence LK-G37\";\npayload[\"values\"] = [];\n\n// Calibrate the values\nfor (i = 0; i < global.get(\"sampleSize\"); i++)\n{\n    //payload[\"values\"][i] = ((global.get(\"positionCoef1\") * parseFloat((vib[4 * i+3] << 8) + vib[4 * i+2]) + global.get(\"positionCoef0\"))).toFixed(5);\n    ///payload[\"values\"][i] = binToV*parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    payload[\"values\"][i] = parseFloat((vib[4 * i+ 3] << 8) + vib[4 * i + 2]);\n    \n}\n\n// Set message payload and topic.\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"position\",payload[\"values\"]);\n\n// Printout a status variable.\n//statusText = previous.toISOString();\nnode.status({fill:\"green\", shape:\"dot\", text: statusText});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":420,"wires":[["57b2c6df.8815b8","17a6e6cf.9d0eb9"]]},{"id":"3e5c7fa0.7e6cd","type":"file in","z":"cde2bb9.452c148","name":"Read Measurement","filename":"output2.0","format":"","chunk":false,"sendError":false,"encoding":"none","x":470,"y":420,"wires":[["245512be.79a2be"]]},{"id":"a3d1a613.27d198","type":"debug","z":"cde2bb9.452c148","name":"AIN1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":280,"wires":[]},{"id":"57b2c6df.8815b8","type":"debug","z":"cde2bb9.452c148","name":"AIN2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":520,"wires":[]},{"id":"809d6a93.afff68","type":"function","z":"cde2bb9.452c148","name":"","func":"\n//moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\n//var dataSeries1 = [];\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\n//var previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    //var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["d3480045.48787"]]},{"id":"d3480045.48787","type":"ui_chart","z":"cde2bb9.452c148","name":"","group":"4ff9d141.28643","order":1,"width":30,"height":8,"label":"chart","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":340,"wires":[[]]},{"id":"17a6e6cf.9d0eb9","type":"function","z":"cde2bb9.452c148","name":"","func":"\n//moment = context.global.moment;\n\nvar dataSeries1 = [];\nvar charts = [];\ncharts[0] = {};\ncharts[0][\"series\"] = [\"A1\"];\ncharts[0][\"data\"] = [];\ncharts[0][\"labels\"] = [\"\"];\n//var dataSeries1 = [];\n\n// Determine when data collection started.\n//var diff = parseFloat(global.get(\"sampleSize\")) * parseFloat(global.get(\"sampleInterval\")) * 1000\n//var previous = moment(global.get(\"dateTimeAcceleration\") - diff);\n\nfor (var i = 0; i < msg.payload[\"values\"].length; i++)\n{\n    //var dateTimePoint = previous + parseInt(i * global.get(\"sampleInterval\") * 1000);\n    var point = {\"x\":i,\"y\":msg.payload[\"values\"][i]};\n    dataSeries1[i] = point;\n}\n\ncharts[0][\"data\"][0] = dataSeries1;\n\nmsg.payload = charts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":420,"wires":[["a46bf88.2250b08"]]},{"id":"a46bf88.2250b08","type":"ui_chart","z":"cde2bb9.452c148","name":"","group":"4ff9d141.28643","order":1,"width":30,"height":8,"label":"chart 2","chartType":"line","legend":"false","xformat":"s.SSS","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":420,"wires":[[]]},{"id":"d0875865.00f6b8","type":"file","z":"cde2bb9.452c148","name":"Save Accel","filename":"/home/debian/master/accel.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":890,"y":380,"wires":[[]]},{"id":"4e52dbda.5bff44","type":"inject","z":"cde2bb9.452c148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["b0763997.19e3b8"]]},{"id":"b0763997.19e3b8","type":"exec","z":"cde2bb9.452c148","command":"python3 /home/debian/master/recoater.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":680,"wires":[[],[],[]]}]